<footer>
    <div class="logoFot"><h1><span class="letraLogo">L</span>a caza del <span class="letraLogo">L</span>ibro</h1></div>
    <div class="enlacesFot">
        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://www.tiktok.com/es"><i class="fa-brands fa-tiktok"></i></a>
        <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
    </div>
</footer>
