<!-- Mensaje de aviso "Array vacío" -->
<div class="containerVacio">
    <div *ngIf="books.length === 0">
    Hey! Que no hay libros disponibles, añádelos.
    </div>
</div>
    
<!-- Contenedor con el buscador -->
<div class="containerBuscador">
    <input type="number" placeholder="Buscar por ID" [(ngModel)]="searchId">
    <button (click)="buscarLibro()">        
      <i class="fa-solid fa-magnifying-glass" style="color: #035503;"></i>
    </button>
</div>

<!-- Contenedor con las cards de libros -->
<div class="containerLibro">
    <app-card *ngFor="let book of filteredBooks; let even = even" [book]="book"  [even]="even" (cardDeleted)="eliminarCard($event)"></app-card>

    <!-- Contenedor con una card al final con el formulario -->
    <div class="cardF">
        <form class="formulario" #formulario="ngForm" (ngSubmit)="agregarLibro(formulario)">
            <h3 class="titleForm">Añade tus Libros!</h3>
            <div class="form-group">
            <input type="text" placeholder="Título" name="title" [(ngModel)]="nuevoLibro.title" required>
            </div>
            <div class="form-group">
            <input type="text" placeholder="Tapa Blanda/Dura" name="type" [(ngModel)]="nuevoLibro.type" required>
            </div>
            <div class="form-group">
            <input type="text" placeholder="Autor" name="author" [(ngModel)]="nuevoLibro.author" required>
            </div>
            <div class="form-group">
            <input type="number" placeholder="Precio" name="price" [(ngModel)]="nuevoLibro.price" required>
            </div>
            <div class="form-group">
            <input type="text" placeholder="Url Imagen" name="photo" [(ngModel)]="nuevoLibro.photo" required>
            </div>
            <div class="form-group">
            <input type="text" placeholder="Ref del libro" name="id_book" [(ngModel)]="nuevoLibro.id_book" required>
            </div>          
            <button type="submit">Agregar</button>
        </form>
    </div>  
</div>

  
