/* Estilos de las cards Libro */
.containerLibro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--color-fondo);     
  }

      .cardF {
        width: 250px;
        height: 500px;
        margin: 40px;
        padding: 5px;
        border: 5px solid var(--color-primario);
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      
      /* Estilos de la card Formulario */
      .formulario {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }
      
      .titleForm {
        color: var(--color-primario);
        padding-bottom: 10%;
        display: block;
      }
      
      .form-group {
        margin-bottom: 10%;
        display: none;
      }
      
      .cardF:hover .form-group {
        display: block;
      }
      
      
      input[type="text"],
      input[type="number"] {
        width: 100%;
        padding: 5px;
        border: 1px solid var(--color-primario);
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0);
        text-align: center;
      }
      
      button {
        padding: 8px 16px;
        background-color: var(--color-primario);
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 10px;
      }
      
      button:hover {
        color: var(--color-secundario);
      }
      
      /* Estilos del aviso del Array vacío */
      .containerVacio {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        padding-top: 10px ;
        background-color: var(--color-fondo);
        color: var(--color-primario);
      }

/* Estilos del buscador de libros */
.containerBuscador {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-fondo);
}

.containerBuscador button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.containerBuscador input {
  width: 10%;
  padding: 5px;
  border: 2px solid var(--color-primario);
  border-radius: 10px;
  outline: none;
}

.containerBuscador input::placeholder {
  color: var(--color-primario);
}

.containerBuscador i {
  font-size: 18px;
  padding-left: 10px;
}


      

      