<main>
    <div class="espaciador"></div>
    <form class="registro-form" (ngSubmit)="agregarLibro(title.value, type.value, author.value, price.value, photo.value, id_book.value)">
      <h2 class="titleForm">Añade tus libros favoritos!</h2>
  
      <div class="registro-group">
        <input type="text" placeholder="Título" name="title" #title required>
      </div>
  
      <div class="registro-group">
        <input type="text" placeholder="Tapa Blanda/Dura" name="type" #type required>
      </div>
  
      <div class="registro-group">
        <input type="text" placeholder="Autor" name="author" #author required>
      </div>
  
      <div class="registro-group">
        <input type="number" placeholder="Precio" name="price" #price required>
      </div>
  
      <div class="registro-group">
        <input type="text" placeholder="Url Imagen" name="photo" #photo required>
      </div>
  
      <div class="registro-group">
        <input type="number" placeholder="Ref del libro" name="id_book" #id_book required>
      </div>
  
      <button type="submit">Agregar</button>
    </form>
</main>
  